Source: libtap-harness-archive-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libmodule-build-perl
Build-Depends-Indep: libyaml-tiny-perl, perl (>= 5.10.0),
 perl (>= 5.10.1) | libtest-harness-perl (>= 3.05)
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Alan Haggai Alavi <alanhaggai@alanhaggai.org>
Standards-Version: 3.8.4
Homepage: http://search.cpan.org/dist/TAP-Harness-Archive/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libtap-harness-archive-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libtap-harness-archive-perl/

Package: libtap-harness-archive-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libyaml-tiny-perl, perl (>= 5.10.0),
 perl (>= 5.10.1) | libtest-harness-perl (>= 3.05)
Description: Create an archive of TAP test results
 TAP::Harness::Archive is a direct subclass of TAP::Harness and behaves in
 exactly the same way except for one detail. In addition to outputting a
 running progress of the tests and an ending summary it can also capture all
 of the raw TAP from the individual test files or streams into an archive file
 (.tar or .tar.gz).
